<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.1.2/dash.all.min.js"></script>
  </head>
  <body>
    <div>
      <div>
        <video autoplay="" preload="none" muted="true" controls="true">
            <source src="/myvideo.mpd" type="application/dash+xml">
        </video>
      </div>
    </div>
    <!-- <script type="text/javascript" src="./script.js"></script> -->
  </body>
</html>